body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
    padding: 10px;
    background: #0077ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s ease;
}

button:hover {
    background: #005fcc;
}

.active{
    display: block;
}

.inactive{
    display: none;
}
.container {
  margin-top: 20px;
  background: white;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 15px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s;
}

li:hover {
  background-color: #f1f1f1;
}


mark {
  background-color: #ffecb3;
  color: #000;
  font-weight: bold;
  padding: 0 2px;
  border-radius: 3px;
}
